#grid{
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
        ol{
            border-right:1px solid green; 
            width: 100px; 
            margin: 0px; 
            padding: 20px;
        }
        /* body{
            background-color: rgb(49, 49, 49);
            color: rgb(218, 218, 218);
        } */
        h1{
            border-bottom: 1px solid green;
             padding:10px; 
             margin: 0px;
             padding: 20px
        }
        @media(max-width: 600px){
            #grid{
                display: block;
            }
            ol{
                border-right: none;
            }
            h1{
                border-right: none;
            }
        }
